@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OktaDemo</h1>
    <p class="lead">Technical Challenges for Sales Engineer Candidates </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Group 1</h2>
        <p> • Integrate Okta with an on-premise Active Directory or LDAP</p>
        <p> • Integrate Okta with Salesforce for Single Sign On & User Provisioning</p>
        <p><a class="btn btn-default" href="https://dev-993565-admin.okta.com">Go to demo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Group 2</h2>
        <p>Use Okta’s Sign-in Widget to create a custom login page</p>
    </div>
    <div class="col-md-4">
        <h2>Group 3</h2>
        <p> CLI - Write an API app in the language of your choice that can be interacted with from the command line - using a tool such as curl or httpie. It should have the following features:</p>
        <p> • Obtain an access token from the /token endpoint of an Okta OIDC application using grant_type=password (no browser needed)</p>
        <p> • Use the access token to hit the /userinfo endpoint</p>
        <p> BONUS: Provide a /secure endpoint in your app that requires an access token. This endpoint should return (at least) the user's full name.</p>
    </div>
</div>